* {
    box-sizing: border-box;
  }

  h1 {
      text-align: center;
  }

  .main {
    width: 75%;
    float: right;
    padding: 15px;
    
  }

  .daily {
    width: 75%;
    float: right;
    padding: 15px;
    
  }

  .aside {
    width: 25%;
    float: left;
    padding: 15px;
    
  }

